html {
    background-color: 0;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url("https://raw.githubusercontent.com/n4rus/a100e3.github.io/master/bg.jpg");
}

h1 {
    color: silver;
    align: center;
    align-text: center;
}

a:visited {
    color: silver;
}

a:link {
    text-decoration: none;
    color: white;
}

.anuncio {
    align: center;
    align-text: center;
    color: purple;
    position: relative;
    backcroung-color: 0;
    }

.book1 {
    align: center;
    position: relative;
    backcroung-color: 0;
}

.tbot {
    align: center;
    position: relative;
    backcroung-color: 0;
}

.white-void {
    align: center;
    position: relative;
    backcroung-color: 0;
}

.footer {
    width: 100%;
    bottom: 0;
    position: bottom;
    align-text: left;
    color: 0;
}
