h3 {
    float: center;
    align: center;
    align-text: center;
    color: purple;
}

.panel {
    background-color: black;
    background-position: center;
    width: 100%;
    bottom: 06.1617%;
    position: fixed;
    
}

html {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./bg.jpg");
}

.footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./bg.jpg");
    align-text: left;
    text-color: white;
    color: white;
}
